* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #c3cbdc;
    background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);

}


/* .heading{
    font-style: italic;
} */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 480px;
    border: 3px solid black;
    background-color: #c3cbdc;
    background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);
    border-radius: 20px;
    padding: 20px;
}

.signUpForm{
    color: red;
    font-size: 45px;
}
.mid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    margin: 1vh;
    padding: 10px;
    height: 30px;
    width: 25vw;
    border-radius: 10px;
    border: 2px solid black;
    border: none;
}

#registerbtn {
    margin: 2vh;
    padding: 10px;
    background-color: #007FFF;
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


@media (max-width:600px) {
    input {
        margin: 1vh;
        padding: 10px;
        height: 30px;
        width: 75vw;
        border-radius: 10px;
        border: 2px solid black;
        border: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 480px;
        border: 3px solid black;
        border-radius: 20px;
        padding: 20px;
        width: 85vw;
    }

    .signUpForm{
        color: red;
        font-size: 30px;
    }

}